.container {
  display: flex;
  height: 100vh;
}

.container > .sidebar-container {
  width: 250px;
  background-color: #f8f9fa;
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: #f8f9fa;
}
