.sidebar-container {
  height: 100%;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 1px solid #ccc;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sidebar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
}

.sidebar-brand i {
  font-size: 28px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar .sidebar-btn {
  width: 100%;
  justify-content: center;
}

.sidebar .link {
  text-decoration: none;
  font-size: 22px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.sidebar .link i {
  font-size: 18px;
}

.sidebar .link:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.sidebar .link.active {
  background-color: #ebebeb;
}
